body {
  margin: 0;
}

.container {
  text-align: center;
  max-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.tagline {
  color: black;
  padding: 5% 0;
  background-color: #efbd47;
  line-height: 100em;
}

.row.secret-link {
  background-color: rgb(219, 187, 145);
  padding: 2em 0;
}

.secret-link > .column > div {
  padding-bottom: 1em;
  color: white;
}

.container .row.secret-link:not(.reveal) {
  max-height: 0;
  overflow: hidden;
  padding: 0;
}

.secret-link.reveal {
  max-height: 500px;
}

.container .row.error:not(.reveal) {
  max-height: 0px;
  overflow: hidden;
  padding: 0;
}

.container .row.hide {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-in;
}

.error {
  display: block;
  padding: 1em 0;
  max-height: 500px;
  background-color: #ef4747;
  color: white;
}

.animate-show {
  transition: max-height 0.25s ease-out;
}

.tagline h2 {
  padding: 10% 0;
}

.container .row .column {
  padding: 0;
}

.container .row {
  width: 100vw;
  max-height: 1000px;
  margin: 0;
}

.container .row.footer {
  position: absolute;
  bottom: 0;
}

footer nav a:after {
  content: " | "
}
footer nav a:last-child:after {
  content: none;
}

.row.content .column {
  padding: 2em 0;
}

input[type="text"]:active, input[type="text"]:focus {
  border-color: #efbd47;
}

input#secret {
  max-width: 300px;
}

input#resultBox {
  max-width: 650px;
  color: gray;
  background-color: white;
}

.returnToCopy {
  display: none;
}

input#resultBox:focus ~ .returnToCopy {
  display: block;
}

a {
  color: black;
}

a.button, button {
  border-color: #efbd47;
  background-color: #efbd47;
  color: black
}

button:disabled {
  color: #000;
}

a.button.button-outline, button.button-outline {
  color: #000;
}
