<!DOCTYPE html>
<html lang="{{site.lang}}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} | {% t page.title %}</title>
    {%- if page.description -%}
      <meta name="description" content="{% t page.description %}">
    {%- else -%}
      <meta name="description" content="{% t site.description %}">
    {%- endif -%}
    <meta name="keywords" content="{% t site.keywords %}">
    <meta name="author" content="Marcus Ilgner">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';img-src 'self' img.shields.io;style-src 'unsafe-inline' 'self';">
    <meta http-equiv="Content-Language" content="{{site.lang}}">
    {% assign unique_languages = site.languages | uniq %}
    {% for lang in unique_languages %}
      <link rel="alternate" hreflang="{{lang}}" href="/{{lang}}{{page.url}}">
    {% endfor %}
    <link href="/assets/milligram.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/styles.css" rel="stylesheet" type="text/css">
    <link rel="author" href="/humans.txt">
  </head>
  <body>
    <div class="container">
      <header class="row">
        <div class="column tagline">
          <h2>{% t page.header %}</h2>
        </div>
        <nav class="languages">
          {% for lang in unique_languages %}
            {%- if site.lang != lang -%}
              <a rel="alternate" hreflang="{{lang}}" href="/{{lang}}{{page.url}}">{{lang}}</a>
            {%- else -%}
              <span>{{lang}}</span>
            {%- endif -%}
          {% endfor %}
        </nav>
      </header>
      <main>
        {{ content }}
      </main>
      <footer class="row footer">
        <nav class="column">
          <a href="{% tl imprint %}" rel="about">{% t titles.imprint %}</a>
          <a href="/humans.txt" title="{% t titles.humans %}">humans.txt</a>
          <a href="https://github.com/keedrop/keedrop" title="{% t titles.source.title %}">
            <img src="https://img.shields.io/badge/source%20code-gray?logo=github&style=flat-square" height="20" width="95" alt="{% t titles.source.badge %}">
          </a>
          <a href="https://status.keedrop.com" title="{% t titles.status.title %}">
            <img src="https://img.shields.io/uptimerobot/ratio/m785003856-8aa9823b6992a1796824c5a6?style=flat-square" height="20" width="110" alt="{% t titles.status.badge %}">
          </a>
        </nav>
      </footer>
    </div>
  </body>
  {% if page.scripts %}
    <script defer src="/assets/nacl.min.js"></script>
    <script defer src="/assets/nacl-util.min.js"></script>
    <script defer src="/assets/keedrop.js"></script>
  {% endif %}
</html>
