<!DOCTYPE html>
<html lang="{{site.lang}}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{site.description}}">
    <meta name="author" content="Marcus Ilgner">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';img-src 'self';style-src 'unsafe-inline' 'self';">
    <meta http-equiv="Content-Language" content="{{site.lang}}">
    {% assign unique_languages = site.languages | uniq %}
    {% for lang in unique_languages %}
      <link rel="alternate" hreflang="{{lang}}" href="/{{lang}}{{page.url}}">
    {% endfor %}
    <title>KeeDrop: {% t tagline %} | {% t page.title %}</title>
    <link rel="author" href="/humans.txt">
    <link href="/assets/milligram.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <header class="row">
        <div class="column tagline">
          <h2>{% t page.header %}</h2>
        </div>
        <nav class="languages">
          {% for lang in unique_languages %}
            {%- if site.lang != lang -%}
              <a rel="alternate" hreflang="{{lang}}" href="/{{lang}}{{page.url}}">{{lang}}</a>
            {%- else -%}
              <span>{{lang}}</span>
            {%- endif -%}
          {% endfor %}
        </nav>
      </header>
      <main>
        {{ content }}
      </main>
      <footer class="row footer">
        <nav class="column">
          <a href="{{ "/imprint" | prepend: site.baseurl }}" rel="about">{% t titles.imprint %}</a>
          <a href="/humans.txt">humans.txt</a>
        </nav>
      </footer>
    </div>
  </body>
  {% if page.scripts %}
    <script defer src="/assets/nacl.min.js"></script>
    <script defer src="/assets/nacl-util.min.js"></script>
    <script defer src="/assets/keedrop.js"></script>
  {% endif %}
</html>
